.bt {
    margin-top: 70px;
    text-align: center;
}

.bt button {
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 50px;
    border-width: 0;
    outline: 0;
    cursor: pointer;
    margin: 10px;
}

.bt .zero {
    width: 160px;
}