* {
    margin: 0;
    padding: 0;
}

.bt {
    display: inline-block;
    padding: 5px;
}

.bt .number {
    background-color:rgb(230, 230, 230);
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50px;
    border-width: 0;
    outline: 0;
    cursor: pointer;
}

.bt .zero {
    background-color:rgb(230, 230, 230);
    width: 172px;
    height: 80px;
    font-size: 40px;
    border-radius: 50px;
    border-width: 0;
    outline: 0;
    cursor: pointer;
}

.bt .dividir {
    background-color: rgb(245, 50, 50);
    color: white;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50px;
    border-width: 0;
    outline: 0;
    cursor: pointer;
}

.bt .multiplicar {
    background-color: rgb(65, 255, 47);
    color: white;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50px;
    border-width: 0;
    outline: 0;
    cursor: pointer;
}

.bt .subtrair {
    background-color: rgb(255, 251, 32);
    color: white;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50px;
    border-width: 0;
    outline: 0;
    cursor: pointer;
}

.bt .somar {
    background-color: rgb(14, 255, 235);
    color: white;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50px;
    border-width: 0;
    outline: 0;
    cursor: pointer;
}

.bt .resultado {
    background-color: rgb(255, 16, 215);
    color: white;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50px;
    border-width: 0;
    outline: 0;
    cursor: pointer;
}